html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/************\
  Basic set
\************/
* {
   
    box-sizing:        border-box;
}

body {
  background-color:   #F4F3F5;
  font-family:        "Montserrat", sans-serif;
  max-width:          1600px;
}

.content {
    margin-left:               15rem;
    margin-right:              15rem;
    display:                   flex;
    flex-direction:            column;
    max-height:                2120px;
    flex-wrap:                 wrap;
}




/************\
   Heaeder
\************/

header {
  background-color:    #6200EA;
  width:               100%;
  padding-top:         1.25rem;
  padding-bottom:      1.25rem;
}


.subscribe {
  
  color:             #6200EA;
  background:        #FFFFFF 0% 0% no-repeat padding-box;
  border:            2px solid #FFFFFF;
  border-radius:     24px;
  opacity:           1;
  margin-top:        1.25rem;
  margin-bottom:     1.25rem;
  margin-left:       15rem;
  top:               20px;
  left:              245px;
  width:             160px;
  height:            40px;  
}

svg {
top:              15px;
left:             710px;
width: 180px;
height: 50px;
opacity: 1;
}


/************\
     Nav
\************/

a {
  text-decoration:    none;
  color:              #211138;
  font-size:          12px;
  font-family:        "Montserrat", sans-serif;
  
  
}

nav {
  padding:            1rem;
  justify-content:    space-around;
  font-weight:        bold;
  background-color:   #FFFFFF;
  height:             80px;
  display:            flex;
  align-items:     center;
}



/************\
    sidebar elhelyezése a jobb oldalon
\************/


.section {
    
    
    display: flex;
    flex-direction: column;
    order:        2;
  }


/************\
    sidebar 
\************/

.aside {
  background-color:   #FFFFFF; 
  width:              21.875rem;
  height:               37.5rem;
  border:              1px solid transparent;
  border-radius:        50px;
  margin-bottom:        2.125rem;
  margin-top:          1.5rem;
 }
  

h2 {
  background-color:    #6200EA;
  color:               white;
  padding:             1rem;
  border-radius:       20px 20px 0 0;
  width:               100%;
  text-align:          center;
  font-weight:         bold;
 }


 .container {
  width:   19rem;
  height:  10rem;
  
  
 }


.side {
  width:         120px;
  height:        120px;
  float:         left;
  margin:        1.125rem;
  display:       block;
  border-radius: 10px;
 }


 

h3 {
  color:      #6200EA;
  text-transform: uppercase;
  padding:    1.5rem;
  /*margin:  1rem;*/
  font-weight:  bold;
}


.view {
  text-align:   center;
}




/************\
    main
\************/

main {
  flex:                      1;
  width:                     730px;
  border-radius:            24px;
}




/************\
featured blog
\************/

.featured-blog {
  background:               url('roberto-nickson-5ui0tfMC5ts-unsplash.jpg');
  background-size:          cover;
  height:                   350px;
  line-height:              1.5rem;
  border-radius:           24px;
  margin-top:         1rem;
}

.date-, .focim-, .featured-text   {
  color:       #FFFFFF;
  text-transform:   uppercase;
}

.featured {
  color:       #FFFFFF;
  border-color:  #FFFFFF;
  
}

.focim- {
  font-size:    40px;
  font-weight:  bold;
  padding:     1.5rem;
}

.date- {
  font-size: 12px;
}

/************\
   buttons
\************/

.btn {
  border-radius:   80px;
  text-transform: uppercase;
  padding:  .5rem;
  width:     160px;
  height:    40px;
  letter-spacing:   .125rem;
  background-color:  transparent; 
  margin-top:    1rem;
}

.basic {
  color:   #6200EA;
  border-color:   #6200EA;
 
}


/************\
   Posts
\************/

.post {
  width:       710px;
  padding:    1.75rem;
  border-radius:  24px;
  background-color:  #FFFFFF;
  margin-bottom:    1.125rem;
  line-height:   2.25rem;
  margin-top:   1.125rem;
}

.text, .focim {
  color:     #211138
}

.date {
  color:     #B2ACBA;
  padding:   1.125rem;
  text-transform:  uppercase;
  font-size:    12px;
}

.img {
  width:    710px;
  height:   320px;
  margin-left: -28px;
  margin-top:   -25px;
  border-radius: 24px 24px 0 0;
}

.text {
   font-size: 20px;
}
.focim {
  font-size:    40px;
  padding-bottom: 1.125rem;
}

/************\
   small posts
\************/

.vertical-post {
max-height:  160px;
display:  flex;
flex-direction: column;
flex-wrap:    wrap;
}


.smallpost {
  display:  block;
  width:    340px;
  height:   160px;
  margin-bottom: 2rem;
  background-color:  #FFFFFF;
  border-radius: 24px;
  margin-right:  1.125rem;
  
}
.bal {
  order: 2;
}
/************\
  footer
\************/

footer {
  padding:   3rem;
  background-color: #211138;
}

.footer {
  color: #B2ACBA;
  text-align: center;
}

em {
  color: #6200EA;
}





